@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 6px;
    background-color: #f1f2f7;
}

.clearfix::after,.clearfix::before {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

h2 {
    color: #656702;
    font-size: 30px;
}

.padding-30 {
    padding: 30px;
}

header {
    height: 100vh;
    background-image: url(../img/desert-1803878_1920.jpg);
    background-size: cover; 
    background-position: center center;
    position: relative;
}

.header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.text-wrapper {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    
}

.text-wrapper h1 {
    color: #d7d859;
    text-shadow: 3px 2px 2px #656702;
    font-size: 92px;
    padding: 60px 0;
}

.text-wrapper p {
    color: #f1f2f7;
    text-shadow: 3px 2px 2px #656702;
}

.text-wrapper p.middle-size {
    font-size: 50px;
}

.text-wrapper p.little-size {
    font-size: 34px;
    border-bottom: 3px solid #d7d859;
    display: inline-block;
    margin-top: 20px;
}

.icons-wrapper {
    margin-top: 130px;
    text-align: center;
}

.icons-wrapper figure {
    display: inline-block;
    padding: 0 20px;
}

.firstflip {
    animation-delay: 0.3s;
}
.secondflip {
    animation-delay: 0.5s;
}
.thirdflip {
    animation-delay: 0.7s;
}

.icons-wrapper figure img {
    width: 250px;
    border-radius: 50%;
    height: 250px;
}

.data-2k17 p {
    font-size: 20px;
    color: #272727;
    margin: 12px 0;
}

.data-2k17 .data-info {
    background-color: #d8d4d3;
    padding: 10px 0;
    overflow: hidden;
}

.data-2k17 .data-bar {
    padding: 25px 20px;
    background-color: #656702;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    transform: translateX(-100%);
}

.data-2k17 li:first-child {
    width: 67%;
}

.data-2k17 li:nth-child(2) {
    width: 54%;
}

.data-2k17 li:nth-child(3) {
    width: 70%;
}

.data-2k17 li:last-child {
    width: 47%;
}

.data-2k17 li:not(:last-child) {
    margin-bottom: 30px;
}

.articles-wrapper {
    position: relative;
}

.articles-wrapper .row article {
    float: left;
    width: 30%;
    background-color: #d8d4d3;
    height: 400px; 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #272727;
    
}

.articles-wrapper .row article:nth-child(even) {
   margin: 1% 5%;
}

.articles-wrapper .row article p {
    font-size: 15px;
    height: 70%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
    line-height: 25px;
 }

 .articles-wrapper .row article a {
    font-size: 18px;
    display: block;
    padding: 20px;
    border: 2px dashed #f1f2f7;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    width: 40%; 
    color: #f1f2f7;
    text-shadow: 1px 1px #272727;
 }

.contact-form-wrapper {
    background-color: #656702;    
}

.contact-form-wrapper .sections {
    margin-bottom: 0;
}

.contact-header {
    color: #f1f2f7;
    font-size: 35px;
    padding: 30px 0;
}

.contact-form-wrapper form {
    
    width: 100%;
}

.contact-form-wrapper form #user-email {
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border: none;
}

.contact-form-wrapper #subscribe-news {
    width: 20%;
    background-color: #cf8103;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 14px;
    color: #f1f2f7; 
    cursor: pointer;
    margin-left: 20px;
}

.contact-form-wrapper #subscribe-news:focus {
    outline: 0;
}

footer {
    background-color: #272727;
    color: #f1f2f7;
    text-align: center;
    font-size: 15px;
}

footer a {
    color: #f1f2f7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
